<footer class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Oren Fencing Store</h5>
                <p>Магазин товаров для фехтования</p>
                <p>© 2025 Все права защищены</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Телефон: 73532960438</p>
                <p>Email: OrenFencing@gmail.com</p>
                <p>Адрес: Парковый проспект 15 ДК"Экспресс"</p>
            </div>
            <div class="col-md-4">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="/delivery">Доставка</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> 