<footer class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Spaga Shop</h5>
                <p>Магазин товаров для фехтования</p>
                <p>© 2024 Все права защищены</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Телефон: +7 (999) 999-99-99</p>
                <p>Email: info@spaga-shop.ru</p>
                <p>Адрес: г. Москва, ул. Примерная, 123</p>
            </div>
            <div class="col-md-4">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a href="/catalog" class="text-light">Каталог</a></li>
                    <li><a href="/about" class="text-light">О нас</a></li>
                    <li><a href="/delivery" class="text-light">Доставка</a></li>
                    <li><a href="/contacts" class="text-light">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> 