<%- contentFor('body') %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body text-center">
                    <h1 class="display-1 text-primary">404</h1>
                    <h2 class="mb-4">Страница не найдена</h2>
                    <p class="mb-4">Запрашиваемая страница не существует или была удалена.</p>
                    <a href="/" class="btn btn-primary">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div> 